.Alinear {
  display: flex;
  justify-content: space-evenly;
}

.Alinear2 {
  display: grid;
  grid-template-columns: repeat (3, 500px);
  grid-template-rows: repeat(3, 300px);
}

.Columna {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.tamaño3x3 {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.Central1 {
  display: flex;
  flex-direction: space-between;
}

.Columnas {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 400px);
  gap: 20px;
}
.escalas {
  display: grid;
  grid-template-columns: 200px, 200px, 200px;
}
.Fondos {
  background-color: rgb(25, 212, 56);
  border-radius: 10px;
}

.tamaño {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.alinearC {
  display: flex;
  flex-direction: column;
  align-items: center;
}
